body {
  background-color: azure;
}
<<<<<<< HEAD

<h1><span>The Analysis of Electric Vehicles in Washington</span></h1>
h1 {
    text-align: center; 
}
h1 span { 
    background-color: MistyRose; 
}
=======
//<img src="https://pngimg.com/uploads/electric_car/electric_car_PNG20.png" width="150">
>>>>>>> cd3959e03f18d387215839cbc5cb3aee1e49f2a3
